@media screen and (min-width: 10px) and (max-width: 200px){
	body{
		--tiny-font-size: 8px;
		--small-font-size: 10px;
		--regular-font-size: 12px;
		--big-font-size: 28px;
	}
	button{
		padding: 10px 10px;
	}
	#sidebar-container div{
		margin-left: 5px;
		margin-top: 5px;
		font-size: 0.3em;
	}
	.icon{
		min-width: 18px;
		min-height: 18px;
	}
}
@media screen and (min-width: 200px) and (max-width: 400px){
	body{
		--tiny-font-size: 10px;
		--small-font-size: 14px;
		--regular-font-size: 18px;
		--big-font-size: 40px;
	}
	button{
		padding: 10px 20px;
	}
	#sidebar-container div{
		margin-left: 10px;
		margin-top: 10px;
		font-size: 0.5em;
	}
	.icon{
		min-width: 20px;
		min-height: 20px;
	}
}
@media screen and (min-width: 400px) and (max-width: 900px){
	body{
		--tiny-font-size: 16px;
		--small-font-size: 21px;
		--regular-font-size: 28px;
		--big-font-size: 54px;
	}
	button{
		padding: 10px 20px;
	}
	#sidebar-container div{
		margin-left: 15px;
		margin-top: 15px;
		font-size: 0.8em;
	}
	.icon{
		min-width: 24px;
		min-height: 24px;
	}
}
@media screen and (min-width: 900px){
	body{
		--tiny-font-size: 21px;
		--small-font-size: 28px;
		--regular-font-size: 36px;
		--big-font-size: 76px;
	}
	button{
		padding: 10px 30px;
	}
	#sidebar-container div{
		margin-left: 20px;
		margin-top: 20px;
		font-size: 1em;
	}
	.icon{
		min-width: 32px;
		min-height: 32px;
	}
}
*{
	padding: 0;
	margin: 0;
}
#canvas{
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template-columns: minmax(10px, 15px) minmax(10px, 1fr) 2fr minmax(10px, 1fr) minmax(10px, 15px);
	grid-template-rows: minmax(10px, 15px) minmax(5%, 0.5fr) 5fr 0.4fr 1fr minmax(5%, 0.5fr) minmax(10px, 15px);
	font-family: "Myriad Pro";

	background-color: #9a0000;
}
.logo{
	grid-column: 3;
	grid-row: 3;
	background-image: url("background.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
#upper-border{
	grid-column: 1/6;
	grid-row: 1;
}
#lower-border{
	grid-column: 1/6;
	grid-row: 7;
}
#left-border{
	grid-column: 1;
	grid-row: 2/7;
}
#right-border{
	grid-column: 5;
	grid-row: 2/7;
}
.vertical{
	background-image: url("border-v.svg");
    background-repeat: repeat-y;
    background-position: center;
	background-size: contain;
}
.horizontal{
	background-image: url("border.svg");
    background-repeat: repeat-x;
    background-position: center;
	background-size: contain;
}
#button-group{
	grid-column: 3;
	grid-row: 5;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}
.label{
	text-align: center;
	color: #fabf41;
}
button{
	color: #fabf41;
	background: none;
	cursor: pointer;
	border: 3px solid #fabf41;
	font-family: "Myriad Pro";
}
button:active {
  background-color: #b50000;
  transform: translateY(6%);
}
button:hover {
	background-color: #b50000;
}
.limit{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.limit > input{
	color: #fabf41;
	background: none;
	border: 2px solid #fabf41;
	text-align: center;
}
#result{
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 3;
	grid-row: 4;
	text-align: center;
	border: none;
}
#result div{
	position: relative;
	color: #fabf41;
	font-size: var(--big-font-size);
	transition: opacity 200ms;
}
input, button, .label{
	font-size: var(--regular-font-size);
}
.visible{
	visibility: visible;
}
.hidden{
	visibility: hidden;
}
.small-font{
	font-size: var(--small-font-size);
}
#sidebar-container{
	display: block;
	grid-column: 2;
	grid-row: 2/4;
}
#sidebar-container div{
	display: flex;
	justify-content: left;
	align-items: flex-end;
}
#sidebar-container p{
	font-size: var(--tiny-font-size);
	color: #fabf41;
	margin-left: 10px;
}
.icon{
	display: block;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	transition: left 250ms ease-out;
}
.menu-item:hover{
	transform: scale(1.1);
}
.menu-item:active{
	transform: scale(1);
}
#sidebar-container p:hover, .icon:hover{
  cursor: pointer;
}
#hamburger{
	visibility: visible;
	background-image: url("hamburger.svg");
}
#home{
	background-image: url("home.svg");
}
#settings{
	background-image: url("settings.svg");
}
#faq{
	background-image: url("faq.svg");
}
.on{
	left: 0px;
}
.off{
	left: -70px;
}
.transparent{
	opacity: 0;
}